.container {
  width: 1600px;
  margin: 0 auto;
}

.top {
  display: block;
  position: relative;
  padding-bottom: 123px;
}
.top__filters {
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}
.top__filters-wrap {
  display: flex;
  justify-content: space-between;
  padding: 23px 0 28px;
}
.top__filters-list {
  list-style: none;
  display: flex;
  position: relative;
}
.top__filters-list-item {
  color: #FFF;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.top__filters-list-item::first-letter {
  text-transform: capitalize;
}
.top__filters-list-item:not(:last-child) {
  padding-right: 112px;
}
.top__filters-search {
  display: block;
  position: relative;
}
.top__filters-search-btn {
  background: none;
  border: none;
  position: absolute;
  top: 3px;
  left: -33px;
}
.top__filters-search-input {
  width: 218px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.8em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
  border-width: 0 0 1px 0;
  border-color: rgba(255, 255, 255, 0.85);
}
.top__slider-img {
  display: inline-block;
  position: absolute;
  top: -14%;
  z-index: -1;
}
.top__slider-article {
  display: block;
  position: relative;
  max-width: 600px;
  padding-bottom: 92px;
}
.top__slider-article-title {
  display: inline-block;
  position: relative;
  padding: 142px 0 19px 0;
  font-size: 7.2em;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
}
.top__slider-article-subtitle {
  font-size: 1.8em;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.top__slider-btn {
  height: 70px;
  padding: 17px 35px;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: none;
  background: #9D5CD0;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about-us {
  display: block;
  position: relative;
  padding: 78px 0 70px;
}
.about-us__article {
  display: block;
}
.about-us__article-title {
  display: block;
  font-size: 4.8em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 17px;
}
.about-us__article-text {
  display: block;
  position: relative;
  max-width: 1080px;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}

.gallery {
  display: block;
  position: relative;
  background-image: url("../img/galleryBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
  height: 835px;
}
.gallery__wrap {
  display: flex;
  justify-content: space-between;
}
.gallery__desc {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 401px;
  height: 845px;
  width: 400px;
}
.gallery__desc-title {
  font-size: 4.8em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 16px;
}
.gallery__desc-filter-title {
  font-size: 1.6em;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 200% */
}
.gallery__desc-download {
  position: absolute;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  padding: 0 10px 0 0;
  bottom: 0;
}
.gallery__desc-download-purple {
  color: #C283F3;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: inline-block;
  position: relative;
  padding: 0;
}

.catalog {
  display: block;
  position: relative;
  padding: 80px 0;
  height: 1393px;
}
.catalog__about {
  max-width: 1080px;
  padding: 0 0 39px 0;
}
.catalog__about-wrap {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 0 16px 0;
}
.catalog__about-title {
  font-size: 4.8em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 0 15px 0;
}
.catalog__about-countries-list {
  display: flex;
  position: relative;
  list-style: none;
  padding: 8px 0 0 0;
}
.catalog__about-countries-list-item {
  padding: 0 50px 0 0;
}
.catalog__about-countries-list-item-link {
  text-decoration: none;
}
.catalog__about-countries-list-item-link-img {
  width: 46px;
  height: 46px;
}
.catalog__about-desc {
  font-size: 1.6em;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.catalog__info-desc {
  width: 750px;
}
.catalog__info-desc-photo {
  display: block;
  position: relative;
  height: 470px;
}
.catalog__info-desc-photo-img {
  width: auto;
}
.catalog__info-desc-article {
  padding: 30px 0 0 0;
}
.catalog__info-desc-article-name {
  font-size: 2.4em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.catalog__info-desc-article-dates {
  color: #999;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 0 4px 0;
}
.catalog__info-desc-article-about {
  font-size: 1.6em;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.events {
  display: block;
  position: relative;
  padding: 0 0 76px 0;
}
.events__mobitle {
  display: none;
}
.events__title {
  font-size: 4.8em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 15px;
}
.events__list {
  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.events__list-item {
  display: block;
  position: relative;
  width: 498px;
  height: 700px;
  border: 1px solid #CACACA;
}
.events__list-item-logo {
  display: block;
  width: 500px;
  height: 300px;
}
.events__list-item-logo-img {
  width: 100%;
}
.events__list-item-about {
  display: block;
  position: relative;
  height: 386px;
  padding: 13px 0 0 47px;
}
.events__list-item-about-place {
  position: relative;
  padding-right: 19px;
  color: #999;
  text-align: right;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.events__list-item-about-name {
  font-size: 2.4em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
}
.events__list-item-about-desc {
  font-size: 1.6em;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  padding: 3px 36px 81px 0;
}
.events__list-item-details {
  display: inline-block;
  position: absolute;
  bottom: 42px;
  border-bottom: 1px solid;
  color: #9D5CD0;
  text-decoration: none;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.events__list-item-hide {
  display: none;
}
.events__list-item:not(:nth-child(3n), :last-child) {
  margin: 0 50px 50px 0;
}
.events__list-item:nth-child(3n) {
  margin-bottom: 50px;
}
.events__showall {
  display: block;
  margin: 0 auto;
  padding: 17px 35px;
  border-radius: 100px;
  border: 2px solid #9D5CD0;
  color: #9D5CD0;
  text-align: center;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.publications {
  display: block;
  position: relative;
  padding: 80px 0;
  background-image: url("../img/publicationsBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.publications__wrap {
  display: flex;
  justify-content: space-between;
}
.publications__title {
  display: block;
  padding: 16px 0 0 0;
  font-size: 4.8em;
  font-weight: 400;
}
.publications__filter-title {
  font-size: 1.6em;
  font-weight: 700;
  line-height: 32px; /* 200% */
}
.publications__filter-list {
  list-style: none;
}
.publications__filter-list-item {
  display: flex;
}
.publications__filter-list-item-name {
  font-size: 1.6em;
  font-weight: 400;
  line-height: 32px; /* 200% */
  padding-left: 10px;
}
.publications__filter-list-item-name::first-letter {
  text-transform: capitalize;
}
.publications__price-title {
  font-size: 1.6em;
  font-weight: 700;
  line-height: 32px; /* 200% */
  padding: 27px 0 7px 0;
}
.publications__price-range {
  display: flex;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.publications__price-range-label-from, .publications__price-range-label-to, .publications__price-range-label-currency {
  padding: 3px 10px;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.publications__price-range-low, .publications__price-range-high {
  width: 73px;
  background: rgba(157, 92, 208, 0.5);
  border: none;
}

.projects {
  display: block;
  position: relative;
  padding: 81px 0 253px;
}
.projects__articles {
  width: 1080px;
  padding: 0 0 19px 0;
}
.projects__articles-title {
  font-size: 4.8em;
  font-weight: 400;
}
.projects__articles-desc {
  font-size: 1.6em;
  font-weight: 400;
  line-height: 32px; /* 200% */
  padding: 16px 0 0 0;
}
.projects__partners-title {
  font-size: 2.4em;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.5px;
}

.contacts__title {
  font-size: 4.8em;
  font-weight: 400;
}
.contacts__wrap {
  display: flex;
  position: relative;
  align-items: self-start;
  padding: 16px 0 0 0;
}
.contacts__place {
  display: block;
  border: 1px solid #cacaca;
  padding: 123px 119px 120px 151px;
}
.contacts__place-article-name {
  font-size: 2.4em;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
.contacts__place-article-address {
  font-size: 1.6em;
  font-weight: 400;
  line-height: 32px;
  padding: 3px 0 0 0;
}
.contacts__place-form {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 16px;
  padding: 30px 0 43px 0;
}
.contacts__place-form-title {
  font-size: 2.4em;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.contacts__place-form-name, .contacts__place-form-phone {
  width: 400px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #333;
  color: #999;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.contacts__place-form-btn {
  width: 159px;
  padding: 17px 35px;
  border-radius: 100px;
  border: 2px solid #9D5CD0;
  color: #9D5CD0;
  font-size: 1.8em;
  font-weight: 700;
}
.contacts__place-chats-title {
  font-size: 2.4em;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  padding: 0 0 14px 0;
}
.contacts__place-chats-apps {
  display: flex;
  gap: 20px;
}
.contacts__place-chats-apps-whatsapp, .contacts__place-chats-apps-tg {
  width: 40px;
}
.contacts__maps {
  height: 700px;
}

/*# sourceMappingURL=common.css.map */
