.container{
    width: 1600px;
    margin: 0 auto;
}
a {
    cursor: pointer;
    transition: color 0.16s ease-out, color 0.16s ease-out;
    &:hover{
        color:rgba(194, 131, 243, 1);
        
    }
}

button{
    cursor: pointer;
    transition: background-color 0.16s ease-out, color 0.16s ease-out;
    &:hover{
        border-radius: 100px;
        border: 3px solid #D1A9F0;
        color:#FFF;
        background: #9D5CD0;
    }
}
.top{
    display: block;
    position: relative;
    padding-bottom: 123px;
    &__filters{
        display: inline-block;
        position: absolute;
        width: 100%;
        top: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;
        &-wrap{
            display: flex;
            justify-content: space-between;
            padding: 23px 0 28px;
        }
        &-list{
            list-style: none;
            display: flex;
            position: relative;
            &-item{
                &-link{
                    text-decoration: none;
                    border: none;
                    color: #FFF;
                    font-size: 1.8em;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                &::first-letter{
                    text-transform: capitalize;
                }
                &:not(:last-child){
                    padding-right: 112px;
                }
                
            }
        }

        &-search{
            display: block;
            position: relative;
            &-btn{
                background: none;
                border: none;
                position: absolute;
                top: 3px;
                left: -33px;
            }
            &-input{
                width: 218px;
                color: rgba(255, 255, 255, 0.85);
                font-size: 1.8em;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                background: none;
                border-width: 0 0 1px 0;
                border-color: rgba(255, 255, 255, 0.85);
            }
           
        }
    }

    &__slider{
        &-img{
            display: inline-block;
            position: absolute;
            top: -14%;
            z-index: -1;
            width: 100%;
        }
        &-article{
            display: block;
            position: relative;
            max-width: 600px;
            padding-bottom: 92px;
            &-title{
                display: inline-block;
                position: relative;
                padding: 142px 0 19px 0;
                font-size: 7.2em;
                font-style: normal;
                font-weight: 700;
                line-height: 115%;
            }
            &-subtitle{
                font-size: 1.8em;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
            }
        }
        &-btn{
            width: 314px;
            height: 70px;
            padding: 17px 10px;
            align-items: center;
            gap: 10px;
            border-radius: 100px;
            border: none;
            background: #9D5CD0;
            font-size: 1.8em;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

.about-us{
    display: block;
    position: relative;
    padding: 78px 0 70px;
    &__article{
        display: block;
        &-title{
            display: block;
            font-size: 4.8em;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-bottom: 17px;
        }
        &-text{
            display: block;
            position: relative;
            max-width: 1080px;
            font-size: 1.6em;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 200% */
        }
    }
}

.gallery{
    display: block;
    position: relative;
    background-image: url("../img/galleryBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
    height: 835px;
    &__wrap{
        display: flex;
        justify-content: space-between;
    }
    &__desc{
        display: flex;
        position: relative;
        flex-direction: column;
        max-width: 401px;
        height: 845px;
        width: 400px;
        padding: 0 221px 0 0;
        &-title{
            font-size: 4.8em;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-bottom: 16px;
        }
        &-filter{
            &-title{
                font-size: 1.6em;
                font-style: normal;
                font-weight: 600;
                line-height: 32px; /* 200% */
            }
            
        }
        &-download{
            position: absolute;
            font-size: 1.6em;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
            padding: 0 10px 0 0;
            bottom: 0;
            &-purple{
                color: #C283F3;
                font-size: 1.6em;
                font-style: normal;
                font-weight: 600;
                line-height: 32px;
                display: inline-block;
                position: relative;
                padding: 0;
            }
        }
    }
}

.catalog{
    display: block;
    position: relative;
    padding: 81px 0;
    height: 1393px;
    &__about{
        max-width: 1080px;
        padding: 0 0 39px 0;
        &-wrap{
            display: flex;
            position: relative;
            align-items: center;
        }
        &-title{
            font-size: 4.8em;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 0 39px 15px 0;
        }
        &-countries{
            &-list{
                display: flex;
                position: relative;
                list-style: none;
                padding: 0px 0 8px 0;
                &-item{
                    padding: 0 50px 0 0;
                    &-link{
                        text-decoration: none;
                        &-img{
                            width: 46px;
                            height: 46px;
                            border-radius: 29px;
                            &:hover{
                                box-shadow: 0px 0px 20px 0px rgba(157, 92, 208, 0.70);
                            }
                        }
                    }

                }
            }
        }
        &-desc{
            font-size: 1.6em;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 200% */
        }
    }
    &__info{
        display: flex;
        position: relative;
        &-desc{
            width: 750px;
            &-photo{
                display: block;
                position: relative;
                height: 470px;
                &-img{
                    width: auto;
                }
            }
            &-article{
                padding: 30px 0 0 0;
                &-name{
                    font-size: 2.4em;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
                &-dates{
                    color: #999;
                    font-size: 1.2em;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding: 10px 0 4px 0;
                }
                &-about{
                    font-size: 1.6em;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                }
            }
        }
        &-other{
            display: block;
            position: relative;
        }
    }
}

.events{
    display: block;
    position: relative;
    padding: 0 0 76px 0;
    &__mobitle{
        display: none;
    }
    &__title{
        font-size: 4.8em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 15px;
    }
    &__list{
        display: flex;
        position: relative;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        &-item{
            display: block;
            position: relative;
            width: 498px;
            height: 700px;
            border: 1px solid #CACACA;
            &-logo{   
                display: block;
                width: 500px;
                height: 300px;
                &-img{
                    width: 100%;
                }
            }
            &-about{
                display: block;
                position: relative;
                height: 386px;
                padding: 13px 0 0 47px;
                &-place{
                    position: relative;
                    padding-right: 19px;
                    color: #999;
                    text-align: right;
                    font-size: 1.2em;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                &-name{
                    font-size: 2.4em;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.4px;
                }
                &-desc{
                    font-size: 1.6em;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px; /* 200% */
                    padding: 3px 36px 81px 0;
                }
            }
            &-details{
                display: inline-block;
                position: absolute;
                bottom: 42px;
                border-bottom: 1px solid;
                color: #9D5CD0;
                text-decoration: none;
                font-size: 1.6em;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; /* 200% */
            }
            &-hide{
                display: none;
            }
            &:not(:nth-child(3n),:last-child){
                margin: 0 50px 50px 0;
            }
            &:nth-child(3n){
                margin-bottom: 50px;
            }
        }
    }
    &__showall{
        display: block;
        margin: 0 auto;
        height: 60px;
        padding: 15px 35px 17px;
        border-radius: 100px;
        border: 2px solid #9D5CD0;
        color: #9D5CD0;
        text-align: center;
        font-size: 1.8em;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.publications{
    display: block;
    position: relative;
    padding: 62px 0 74px 0;
    background-image: url("../img/publicationsBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    &__wrap{
        display: flex;
        justify-content: space-between;
    }
    &__desc{
        padding: 0px 172px 0 0;
        &-title{
            display: block;
            padding: 16px 0 17px 0;
            font-size: 4.8em;
            font-weight: 400;
        }
        &-filter{
            &-title{
                font-size: 1.6em;
                font-weight: 700;
                line-height: 32px; /* 200% */
            }
            &-list{
                list-style: none;
                &-item{
                    display: flex;
                    position: relative;
                    
                    &-name{
                        font-size: 1.6em;
                        font-weight: 400;
                        line-height: 32px; /* 200% */
                        padding-left: 24px;
                        cursor: pointer;
                        &::first-letter{
                            text-transform: capitalize;
                        }
                        &:after{
                            content: '';
                            position: absolute;
                            top: 15px;
                            left: 5px;
                            width: 4px;
                            height: 4px;
                            background-color: currentColor;
                            border-radius: 50%;
                        }
                        &:before{
                            content: '';
                            position: absolute;
                            top: 10px;
                            left: 0;
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            border: 1px solid currentColor;
                        }
                        &:hover{
                            color:rgba(194, 131, 243, 1);
                        }
                    }
                    &-checkbox{
                        display:none;
                    }
                }
               
            }
        }
        &-price{
            &-title{
                font-size: 1.6em;
                font-weight: 700;
                line-height: 32px; /* 200% */
                padding: 27px 0 7px 0;
            }
            &-range{
                display: flex;
                border-radius: 6px;
                border: 1px solid rgba(255, 255, 255, 0.50);
                &-label{
                    &-from,&-to,&-currency{
                        padding: 3px 10px;
                        font-size: 1.6em;
                        font-weight: 400;
                        line-height: 32px; /* 200% */
                    }
                }
                &-low,&-high{
                    width: 73px;
                    background: rgba(157, 92, 208, 0.50);
                    border: none;
                }
            }
        }
    }
    &__book{
        display: block;
        position: relative;
        width: 100%;
        &-articles{
            display: flex;
            position: relative;
            justify-content: space-between;
            padding: 23px 0 15px 0;
        }
        &-about{
            &-name{
                font-size: 1.6em;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                &::first-letter{
                    text-transform: capitalize;
                }
            }
            &-author{
                font-size: 1.6em;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            
        }
        &-price{
            font-size: 1.6em;
            font-style: italic;
            font-weight: 400;
            line-height: normal;
        }
        &-order{
            display: inline-block;
            width: 120px;
            height: 40px;
            font-size: 1.6em;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            background: no-repeat;
            border-radius: 100px;
            border: 2px solid #9D5CD0;
            padding: 7px 20px;
        }
    }
}

.projects{
    display: block;
    position: relative;
    padding: 81px 0 253px;
    &__articles{
        width: 1080px;
        padding: 0 0 19px 0;
        &-title{
            font-size: 4.8em;
            font-weight: 400;
        }
        &-desc{
            font-size: 1.6em;
            font-weight: 400;
            line-height: 32px; /* 200% */
            padding: 16px 0 0 0;
            &-btn{
                position: relative;
                width: 16px;
                height: 16px;
                font-size: 13px;
                font-weight: 600;
                line-height: 1;
                background-color: transparent;
                border: 1px solid #9D5CD0;
                border-radius: 50%;
                cursor: pointer;
                transition: background-color 0.16s ease-out, color 0.16s ease-out;
            }
        }
    }
    &__partners{
        &-title{
            font-size: 2.4em;
            font-weight: 600;
            line-height: 32px; /* 133.333% */
            letter-spacing: -0.5px;
        }
        &-slider{
            display: flex;
            position: relative;
            align-items: center;
            padding: 22px 0 0 0;
            &-img{
                filter: grayscale(1);
                opacity: 0.3;
                transition: all .2s ease-in-out;
                &:hover{
                    filter: none;
                    opacity: 1;
                }
            }
        }
    }
}

.contacts{
    &__title{
        font-size: 4.8em;
        font-weight: 400;
    }
    &__wrap{
        display: flex;
        position: relative;
        align-items: self-start;
        padding: 16px 0 0 0;
    }
    &__place{
        display: block;
        border: 1px solid #cacaca;
        padding: 123px 119px 120px 151px;
        &-article{
            &-name{
                font-size: 2.4em;
                font-weight: 600;
                line-height: 32px; /* 133.333% */
            }
            &-address{
                font-size: 1.6em;
                font-weight: 400;
                line-height: 32px;
                padding: 3px 0 0 0;
            }
        }
        &-form{
            display: flex;
            position: relative;
            flex-direction: column;
            gap: 16px;
            padding: 30px 0 43px 0;
            &-title{
                font-size: 2.4em;
                font-weight: 400;
                line-height: 32px; /* 133.333% */
            }
            &-name,&-phone{
                width: 400px;
                height: 40px;
                border-radius: 100px;
                border: 1px solid #333;
                color: #999;
                font-size: 1.6em;
                font-weight: 400;
                line-height: 32px; /* 200% */
            }
            &-btn{
                width: 159px;
                height: 62px;
                padding: 14px 35px 17px;
                border-radius: 100px;
                border: 2px solid #9D5CD0;
                color: #9D5CD0;
                font-size: 1.8em;
                font-weight: 700;
            }
        }
        &-chats{
            &-title{
                font-size: 2.4em;
                font-weight: 400;
                line-height: 32px; /* 133.333% */
                padding: 0 0 14px 0;
            }
            &-apps{
                display: flex;
                gap: 20px;
                &-whatsapp,&-tg{
                    width: 40px;
                }
                
            }
        }
    }
    &__maps{
        height: 700px;
    }
}