.container {
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.body{
    &--active{
        overflow: hidden;
    }
}

a {
    cursor: pointer;
    transition: color 0.16s ease-out, color 0.16s ease-out;

    &:hover {
        color: rgba(194, 131, 243, 1);
    }

    &:active {
        color: #7943A4;
        background-color: unset;
    }

    &:focus {
        background-color: #7943A4;
        border: none;
    }
}

button {
    cursor: pointer;
    transition: background-color 0.16s ease-out, color 0.16s ease-out;

    &:hover {
        border-radius: 100px;
        border: 3px solid #D1A9F0;
        color: #FFF;
        background: #9D5CD0;
    }

    &:active {
        background-color: #7943A4;
    }

    //     &:focus {
    //         background-color: #7943A4;
    //     }
}

.top {
    display: block;
    position: relative;
    padding-bottom: 123px;

    &__filters {
        display: inline-block;
        position: absolute;
        width: 100%;
        top: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;

        &-wrap {
            display: flex;
            justify-content: space-between;
            padding: 23px 0 28px;
        }

        &-list {
            list-style: none;
            display: flex;
            position: relative;

            &-item {
                display: block;
                position: relative;

                &-label {
                    display: block;
                    position: relative;
                    justify-content: space-between;
                    font-size: 1.8em;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    cursor: pointer;

                    &::after {
                        content: "\276F";
                        display: inline-block;
                        position: absolute;
                        right: -20px;
                        top: 1px;
                        text-align: center;
                        transition: all 0.35s;
                        transform-origin: center;
                        transform: rotate(90deg);
                    }

                    &:hover {
                        color: #7943A4;
                    }

                    &:first-letter {
                        text-transform: uppercase;
                    }

                    &--active {
                        &::after {
                            transform: rotate(-90deg);
                        }
                    }
                }

                &-content {
                    display: inline;
                    position: absolute;
                    top: 80px;
                    width: 300px;
                    max-height: 0;
                    background: rgba(0, 0, 0, 0.40);
                    transition: all .35s;
                    overflow-y: scroll;

                    &::-webkit-scrollbar-thumb {
                        background-color: #000;
                    }

                    &::-webkit-scrollbar {
                        width: 2px;
                        /* ширина scrollbar */
                    }

                    &::-webkit-scrollbar-track {
                        background: #FFF;
                        /* цвет дорожки */
                    }

                    &--active {
                        width: 300px;
                        height: 300px;
                        max-height: 300px;
                        padding: 24px 0;

                    }

                    &-list {
                        list-style: none;

                        &-item {
                            display: block;
                            position: inherit;
                            width: 220px;
                            height: 40px;
                            margin: 0 auto 24px;
                            background-repeat: no-repeat;
                            cursor: pointer;
                            border: 2px solid transparent;
                            outline-offset: -2px;
                            transition: border .3s ease;

                            &-text {
                                max-width: 220px;
                                max-height: 40px;
                                font-size: 1.4em;
                                font-style: normal;
                                font-weight: 600;
                                line-height: normal;
                                padding: 10px 10px;
                            }

                            &:hover {
                                border: 2px solid #9D5CD0;
                            }

                            &-01,
                            &-05 {
                                background-image: url("../img/top_menu/tintoretto.png");
                            }

                            &-02,
                            &-06 {
                                background-image: url("../img/top_menu/fridrih.png");
                            }

                            &-03,
                            &-07 {
                                background-image: url("../img/top_menu/leonardo.png");
                            }

                            &-04,
                            &-08 {
                                background-image: url("../img/top_menu/verokko.png");
                            }
                        }
                    }
                }

                &:not(:last-child) {
                    padding-right: 112px;
                }
            }
        }

        &-search {
            display: block;
            position: relative;

            &-btn {
                background: none;
                border: none;
                position: absolute;
                top: 3px;
                left: -33px;
            }

            &-input {
                width: 218px;
                color: rgba(255, 255, 255, 0.85);
                font-size: 1.8em;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                background: none;
                border-width: 0 0 1px 0;
                border-color: rgba(255, 255, 255, 0.85);
            }

        }
    }

    &__slider {
        &-img {
            display: inline-block;
            position: absolute;
            top: -14%;
            z-index: -1;
            width: 100%;
        }

        &-article {
            display: block;
            position: relative;
            max-width: 600px;
            padding-bottom: 92px;

            &-title {
                display: inline-block;
                position: relative;
                padding: 142px 0 19px 0;
                font-size: 7.2em;
                font-style: normal;
                font-weight: 700;
                line-height: 115%;
            }

            &-subtitle {
                font-size: 1.8em;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
            }
        }

        &-btn {
            width: 314px;
            height: 70px;
            padding: 17px 10px;
            align-items: center;
            gap: 10px;
            border-radius: 100px;
            border: none;
            background: #9D5CD0;
            font-size: 1.8em;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

.about-us {
    display: block;
    position: relative;
    padding: 78px 0 70px;

    &__article {
        display: block;

        &-title {
            display: block;
            font-size: 4.8em;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-bottom: 17px;
        }

        &-text {
            display: block;
            position: relative;
            max-width: 1080px;
            font-size: 1.6em;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            /* 200% */
        }
    }
}

.gallery {
    display: block;
    position: relative;
    background-image: url("../img/galleryBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
    height: 835px;

    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__desc {
        display: flex;
        position: relative;
        flex-direction: column;
        max-width: 401px;
        height: 845px;
        width: 400px;
        margin: 0 51px 0 0;

        &-title {
            font-size: 4.8em;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-bottom: 16px;
        }

        &-filter {
            &-title {
                display: block;
                padding: 0 0 10px 0;
                font-size: 1.6em;
                font-style: normal;
                font-weight: 600;
                line-height: 32px;
            }

            &-selector {
                display: block;
                position: relative;
                border-radius: 6px;
                border: 1px solid #FFF;
                width: 400px;
                cursor: pointer;

                &-header {
                    display: flex;
                    position: relative;
                    justify-content: space-between;
                    align-items: center;
                    height: 40px;
                    flex-shrink: 0;
                    padding: 0 15px;

                    &-current {
                        font-size: 1.6em;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;
                        /* 200% */

                    }

                    &-icon {
                        transition: all .3s ease;

                        &--active {
                            transform: rotate(180deg);
                        }
                    }
                }

                &-options {
                    display: none;
                    width: 400px;
                    position: absolute;
                    list-style: none;
                    border-radius: 6px;
                    border: 1px solid #999;
                    border-top: none;

                    &-item {
                        color: #999;
                        font-size: 1.6em;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;
                        /* 200% */
                        padding: 0 15px;

                        &:hover {
                            color: #FFF;
                            background: rgba(255, 255, 255, 0.2);
                            border-radius: 0px 0px 6px 6px;
                            border: 1px solid #999;
                        }
                    }

                    &--active {
                        display: block;
                    }
                }
            }
        }

        &-download {
            position: absolute;
            font-size: 1.6em;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
            bottom: 0;

            &-purple {
                color: #C283F3;
                font-size: 1.2em;
                letter-spacing: -2px;
                font-style: normal;
                font-weight: 600;
                line-height: 32px;
            }
        }
    }

    &-swiper {
        &-slide {
            display: block;
            position: relative;

            &:hover {
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 300px;
                    height: 300px;
                    right: 8%;
                    top: 8%;
                    z-index: 1;
                    background-image: url('../img/galary_slider/loupe.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: rgba(0, 0, 0, 0.50);
                }
                &:active{
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        z-index: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #C283F366;
                    }
                }
            }
        }

        &-img {
            width: 350px;
            height: 350px;
        }
    }
}

.catalog {
    display: block;
    position: relative;
    padding: 81px 0;
    height: 1393px;

    &__about {
        max-width: 1080px;
        padding: 0 0 39px 0;

        &-wrap {
            display: flex;
            position: relative;
            align-items: center;
        }

        &-title {
            font-size: 4.8em;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 0 28px 15px 0;
        }

        &-countries {
            &-list {
                display: flex;
                position: relative;
                list-style: none;
                padding: 0px 0 8px 0;

                &-item {
                    padding: 0 26px 0 0;

                    &-link {
                        text-decoration: none;

                        &-img {
                            display: inline;
                            width: 46px;
                            height: 46px;
                            border-radius: 29px;
                            border: 2px solid transparent;
                            margin: 10px;

                            &:hover {
                                box-shadow: 0px 0px 20px 0px rgba(157, 92, 208, 0.70);
                            }

                            &:active {
                                border-color: #7943A4;
                                box-shadow: none;

                            }

                            &--active {
                                border-color: #7943A4;
                                border-radius: 50%;
                                box-shadow: none;
                                padding: 10px;
                                margin: 0;

                                &:hover {
                                    margin: 10px;
                                    padding: 0;
                                }
                            }
                        }
                    }

                }
            }
        }

        &-desc {
            font-size: 1.6em;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            /* 200% */
        }
    }

    &__info {
        display: flex;
        position: relative;
        gap: 50px;

        &-desc {
            width: 750px;

            &-photo {
                display: block;
                position: relative;
                height: 470px;

                &-img {
                    width: auto;
                }
            }

            &-article {
                padding: 30px 0 0 0;

                &-name {
                    font-size: 2.4em;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }

                &-dates {
                    color: #999;
                    font-size: 1.2em;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding: 10px 0 4px 0;
                }

                &-about {
                    font-size: 1.6em;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                }
            }
        }

        &-other {
            display: block;
            position: relative;
        }

        &-accordion {
            display: block;
            position: relative;
            width: 50%;

            &-list {
                overflow: hidden;
                list-style: none;

                &-item {
                    width: 100%;
                    font-family: Open Sans;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 32px;
                    /* 133.333% */
                    overflow: hidden;

                    &-input {
                        position: absolute;
                        opacity: 0;
                        z-index: -1;
                    }

                    &-label {
                        display: flex;
                        justify-content: space-between;
                        padding: 42px 0 31px;
                        font-family: Open Sans;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 32px;
                        border-top: 1px solid #CACACA;

                        cursor: pointer;

                        &::after {
                            content: "";
                            background-image: url('../img/accordion_arrow.png');
                            margin: -11px 0 0 0;
                            width: 50px;
                            height: 50px;
                            background-size: 100%;
                            background-position: center center;
                            background-repeat: no-repeat;
                            text-align: center;
                            transition: all .35s;
                            border: 1px solid transparent;
                            border-radius: 50%;
                            background-color: #ECECEC;
                        }

                        &:hover {
                            color: #7943A4;
                            border-top: 1px solid #7943A4;
                            border-bottom: 1px solid #7943A4;

                            &:after {
                                background-color: #D1A9F0;
                            }
                        }
                    }

                    &-content {
                        max-height: 0;
                        background: white;
                        transition: all .35s;
                    }

                    &-close {
                        display: flex;
                        justify-content: flex-end;
                        padding: 1em;
                        font-size: 0.75em;

                        cursor: pointer;
                        // &:hover {
                        //   background: gray;
                        // }
                    }
                }
            }

            &-artists {
                &-list {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    list-style: none;
                    padding: 24px 0 0 0;
                    max-height: 306px;
                    max-width: 731px;

                    &-item {
                        width: calc((100% - 40px) / 3);
                        font-size: 1.6em;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;
                        /* 200% */
                    }
                }

            }
        }

        .catalog__info-accordion-list-item-input:checked {
            +.catalog__info-accordion-list-item-label {
                // background: gray;
                border-bottom: 1px solid #CACACA;

                &::after {
                    transform: rotate(180deg);
                    border-color: #9D5CD0;
                    background-color: #D1A9F0;
                }

                &:hover {
                    border-top: 1px solid #7943A4;
                    border-bottom: 1px solid #7943A4;
                }
            }

            ~.catalog__info-accordion-list-item-content {
                max-height: 1000px;
                padding: 1px 0 24px;
            }
        }
    }
}

.events {
    display: block;
    position: relative;
    padding: 0 0 76px 0;

    &__mobitle {
        display: none;
    }

    &__title {
        font-size: 4.8em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 15px;
    }

    &__list {
        display: flex;
        position: relative;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        max-height: 752px;
        overflow: hidden;
        transition: all 1.5s;

        &-item {
            display: block;
            position: relative;
            width: 498px;
            height: 700px;
            border: 1px solid #CACACA;

            &-logo {
                display: block;
                width: 500px;
                height: 300px;

                &-img {
                    width: 100%;
                }
            }

            &-about {
                display: block;
                position: relative;
                height: 386px;
                padding: 13px 0 0 47px;

                &-place {
                    position: relative;
                    padding-right: 19px;
                    color: #999;
                    text-align: right;
                    font-size: 1.2em;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                &-name {
                    font-size: 2.4em;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.4px;
                }

                &-desc {
                    font-size: 1.6em;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    /* 200% */
                    padding: 3px 36px 81px 0;
                }
            }

            &-details {
                display: inline-block;
                position: absolute;
                bottom: 42px;
                border-bottom: 1px solid;
                color: #9D5CD0;
                text-decoration: none;
                font-size: 1.6em;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
            }

            &-hide {
                display: none;
            }

            &:not(:nth-child(3n), :last-child) {
                margin: 0 50px 50px 0;
            }

            &:nth-child(3n),
            &:last-child {
                margin-bottom: 50px;
            }
        }

        &-all {

            transition: all 1.5s;
            max-height: 1504px;
        }
    }

    &__showall {
        display: block;
        margin: 0 auto;
        height: 60px;
        padding: 15px 35px 17px;
        border-radius: 100px;
        border: 2px solid #9D5CD0;
        color: #9D5CD0;
        text-align: center;
        font-size: 1.8em;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.publications {
    display: block;
    position: relative;
    padding: 62px 0 74px 0;
    background-image: url("../img/publicationsBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__desc {
        padding: 0px 172px 0 0;

        &-title {
            display: block;
            padding: 16px 0 17px 0;
            font-size: 4.8em;
            font-weight: 400;
        }

        &-filter {
            &-title {
                font-size: 1.6em;
                font-weight: 700;
                line-height: 32px;
            }

            &-list {
                list-style: none;

                &-item {
                    display: flex;
                    position: relative;

                    &-name {
                        font-size: 1.6em;
                        font-weight: 400;
                        line-height: 32px;
                        padding-left: 24px;
                        cursor: pointer;

                        &::first-letter {
                            text-transform: capitalize;
                        }

                        &--active {
                            &:after {
                                content: '';
                                position: absolute;
                                top: 15px;
                                left: 5px;
                                width: 4px;
                                height: 4px;
                                background-color: currentColor;
                                border-radius: 50%;
                            }
                        }

                        &:before {
                            content: '';
                            position: absolute;
                            top: 10px;
                            left: 0;
                            width: 12px;
                            height: 12px;
                            border: 1px solid currentColor;
                        }

                        &:hover {
                            color: rgba(194, 131, 243, 1);
                        }
                    }

                    &-checkbox {
                        display: none;
                    }
                }

            }
        }

        &-price {
            &-title {
                font-size: 1.6em;
                font-weight: 700;
                line-height: 32px;
                /* 200% */
                padding: 27px 0 7px 0;
            }

            &-range {
                display: flex;
                border-radius: 6px;
                border: 1px solid rgba(255, 255, 255, 0.50);

                &-label {

                    &-from,
                    &-to,
                    &-currency {
                        padding: 3px 10px;
                        font-size: 1.6em;
                        font-weight: 400;
                        line-height: 32px;
                        /* 200% */
                    }
                }

                &-low,
                &-high {
                    width: 73px;
                    background: rgba(157, 92, 208, 0.50);
                    border: none;
                }
            }
        }
    }

    &__book {
        display: block;
        position: relative;
        width: 100%;

        &-articles {
            display: flex;
            position: relative;
            justify-content: space-between;
            padding: 23px 0 15px 0;
        }

        &-about {
            &-name {
                font-size: 1.6em;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                &::first-letter {
                    text-transform: capitalize;
                }
            }

            &-author {
                font-size: 1.6em;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

        }

        &-price {
            font-size: 1.6em;
            font-style: italic;
            font-weight: 400;
            line-height: normal;
        }

        &-order {
            display: inline-block;
            width: 120px;
            height: 40px;
            font-size: 1.6em;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            background: no-repeat;
            border-radius: 100px;
            border: 2px solid #9D5CD0;
            padding: 7px 20px;
        }
    }
}

.projects {
    display: block;
    position: relative;
    padding: 81px 0;

    &__articles {
        width: 1080px;
        padding: 0 0 19px 0;

        &-title {
            font-size: 4.8em;
            font-weight: 400;
        }

        &-desc {
            font-size: 1.6em;
            font-weight: 400;
            line-height: 32px;
            /* 200% */
            padding: 16px 0 0 0;

            &-btn {
                position: relative;
                width: 16px;
                height: 16px;
                font-size: 13px;
                font-weight: 600;
                line-height: 1;
                background-color: transparent;
                border: 1px solid #9D5CD0;
                border-radius: 50%;
                cursor: pointer;
                transition: background-color 0.16s ease-out, color 0.16s ease-out;
            }
        }
    }

    &__partners {
        &-title {
            font-size: 2.4em;
            font-weight: 600;
            line-height: 32px;
            /* 133.333% */
            letter-spacing: -0.5px;
        }

        &-slider {
            display: flex;
            position: relative;
            align-items: center;
            padding: 22px 0 0 0;

            &-img {
                filter: grayscale(1);
                opacity: 0.3;
                transition: all .2s ease-in-out;

                &:hover {
                    filter: none;
                    opacity: 1;
                }
            }
        }
    }
}

.contacts {
    &__title {
        font-size: 4.8em;
        font-weight: 400;
    }

    &__wrap {
        display: flex;
        position: relative;
        align-items: self-start;
        padding: 16px 0 0 0;
    }

    &__place {
        display: block;
        border: 1px solid #cacaca;
        padding: 123px 119px 120px 151px;

        &-article {
            &-name {
                font-size: 2.4em;
                font-weight: 600;
                line-height: 32px;
                /* 133.333% */
            }

            &-address {
                font-size: 1.6em;
                font-weight: 400;
                line-height: 32px;
                padding: 3px 0 0 0;
            }
        }

        &-form {
            display: flex;
            position: relative;
            flex-direction: column;
            gap: 16px;
            padding: 30px 0 43px 0;

            &-title {
                font-size: 2.4em;
                font-weight: 400;
                line-height: 32px;
                /* 133.333% */
            }

            &-name,
            &-phone {
                width: 400px;
                height: 40px;
                border-radius: 100px;
                border: 1px solid #333;
                color: #999;
                font-size: 1.6em;
                font-weight: 400;
                line-height: 32px;

                /* 200% */
                &::placeholder {
                    padding: 0 0 0 23px;
                }
            }

            &-btn {
                width: 159px;
                height: 62px;
                padding: 14px 35px 17px;
                border-radius: 100px;
                border: 2px solid #9D5CD0;
                color: #9D5CD0;
                font-size: 1.8em;
                font-weight: 700;
            }
        }

        &-chats {
            &-title {
                font-size: 2.4em;
                font-weight: 400;
                line-height: 32px;
                /* 133.333% */
                padding: 0 0 14px 0;
            }

            &-apps {
                display: flex;
                gap: 20px;

                &-whatsapp,
                &-tg {
                    width: 40px;
                    height: 40px;
                    border: 1px solid transparent;
                    border-radius: 50%;

                    &-ico {
                        &:hover {
                            opacity: .5;
                        }
                    }

                    &:active {
                        border-color: #7943A4;

                    }

                    &:focus {
                        background-color: #7943A4;
                        border: 1px solid;
                    }
                }

            }
        }
    }

    &__maps {
        height: 700px;
        width: 100%;
        &-iframe{
            width: 100%;
        }
    }
}