.footer{
    display: block;
    background: #000000;
    &__wrap{
        display: flex;
        justify-content: space-between;
        padding: 51px 0 42px;
    }
    &__social{
        &-list{
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            gap: 20px;
            &-item{
                &-svg{
                    width: 45px;
                    &:hover{
                        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(122deg) brightness(200%) contrast(100%)
                    }
                }
            }
        }
    }
}