.header{
    display: block;
    position: relative;
    background: #000000;
    padding: 27px 0;
    &__desktop{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: flex-start;
        &-logo{
            width: 173px;
            height: 40px;
            margin-right: Min(174px, calc((100vw / 6) - 142px));
            &-img{
                width: 100%;
                height: 100%;
            }
        }
        &-menu{
            &-list{
                display: flex;
                position: relative;
                list-style: none;
                margin-right: auto;
                &-item{
                    display: inline-block;
                    position: relative;
                    &-link{
                        color:#FFFFFF;
                        text-decoration: none;
                        border: none;
                        font-weight: 600;
                        font-size: 1.8em;
                        line-height: 2.5em;
                    }
                    &::first-letter{
                        text-transform: capitalize;
                    }
                    &:not(:last-child){
                        padding-right: 59px;
                    }
                }
            }
        }
        &-sigin{
            display: inline-block;
            position: relative;
            border: none;
            background: none;
            font-size: 1.8em;
            &::first-letter{
                text-transform: capitalize;
            }
            &::before{
                content: '';
                display: inline-block;
                position: absolute;
                background-image: url('../img/sigin.svg');
                left: -22px;
                bottom: 5px;
                width: 13px;
                height: 13px;
                background-size: 13px;
                background-repeat: no-repeat;
            }

            &:hover{
                border: none;
                color: rgba(194, 131, 243, 1);
                background: none;
                &::before{
                    filter: invert(25%) sepia(51%) saturate(5425%) hue-rotate(220deg) brightness(97%) contrast(96%);
                }
            }
        }
    }
    &__mobile{
        display: none;
        position: relative;
        align-items: center;
        justify-content: space-between;
        &-burger{
            display: flex;
            position: relative;
            flex-direction: column;
            width: 36px;
            height: 28px;
            background: no-repeat;
            border: none;
            &-span{
                display: block;
                position: absolute;
                background-color: #FFFFFF;
                width: 100%;
                height: 3px;
                transition: .4s ease;
                rotate:0;
                &:nth-child(2){
                    top: 13px;
                    width: 80%;
                }
                &:last-child{
                    width: 69%;
                    bottom: 0;
                }
                &--active{
                    &:first-child{
                        rotate: 45deg;
                    }
                    &:nth-child(2){
                        opacity: 0;
                    }
                    &:last-child{
                        width: 100%;
                        rotate: -45deg;
                        top: 14px;
                        left: 5px;
                        transform-origin: left;
                    }
                }
               
            }
           
            &:active{
                background: none;
                border: none;
            }
            &:hover{
                border: none;
                background: none;
            }
            
        }
        &-logo{
            display: block;
            position: relative;
            width: 187.6px;
            height: 42px;
        }
        &-search{
            display: block;
            position: relative;
            background: none;
            border: none;
        }
        &-overlay{
            display: block;
            position: fixed;
            padding: 40px 105px;
            height: 100dvh;
            width: 0dvw;
            top: 93px;
            left: -100%;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.9);
            z-index: 1;
            transition: all .5s ease;
            &--show{
                left:0;
                width: 100dvw;
            }
        }
    }

    @media(max-width:1200px){
        padding: 29px 0;
        &__desktop{
            display: none;
            &-menu{
                &-list{
                    flex-direction: column;
                }
            }
        }
        &__mobile{
            display: flex;
        }
    }
}