*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: normal;
}

body{
    height: 100dvh;
    background-color: rgb(90%, 80%, 80%);
}

input,a,button{
    cursor: pointer;
}
.container{
    display: block;
    position: relative;
    max-width: 1320px;
    padding: 15px;
    margin: 0 auto;
}

.loginform{
    &__bg{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        opacity: 0;
        pointer-events: none;
        transition: 0.5s all;
        top: 0;
        &--show{
            opacity: 1;
            pointer-events: all;
            transition: 0.5s all;
        }
    }
    &__wrap{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
    }
    &__header{
        display: block;
        position: relative;
        background-color: rgb(74%, 74%, 83%);
        &-nav{
            display: flex;
            position: relative;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            gap: 15px;
            &-item{
                &-link{
                    font-size: 1.6em;
                    text-decoration: none;
                }
                
            }
            
        }
        &-auth{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 25px;
        }
        &-user{
            font-size: 1.6em;
            color: #fff;
            opacity: .5;
        }
        &-btn{
            display: block;
            width: 120px;
            height: 32px;
            font-size: 1.6em;
            color: #fff;
            background: rgb(116,17,39);
            background: linear-gradient(90deg, rgba(116,17,39,1) 0%, rgba(156,20,81,1) 100%);
            border: 1px solid transparent;
            border-radius: 40px;
            -webkit-box-shadow: 0px 5px 52px 12px rgba(34, 60, 80, 0.29) inset;
            -moz-box-shadow: 0px 5px 52px 12px rgba(34, 60, 80, 0.29) inset;
            box-shadow: 0px 5px 52px 12px rgba(34, 60, 80, 0.29) inset;
            &:hover{
                border-color: #f3eae8 ;
                -webkit-box-shadow: 0px 0px 49px 22px rgba(205, 217, 227, 0.29);
                -moz-box-shadow: 0px 0px 49px 22px rgba(205, 217, 227, 0.29);
                box-shadow: 0px 0px 49px 22px rgba(205, 217, 227, 0.29);
            }
        }
    }

    &__popup{
        display: block;
        position: absolute;
        width: 400px;
        height: 320px;
        padding: 25px;
        background-color: #b7aca9;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        border-radius: 20px;
        transition: 0.5s all;
        box-sizing: border-box;
       
        &-close{
            position: absolute;
            right: 0;
            top: 0;
        }
        &-wrap{
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;
            width: 100%;
            height: 100%;

        }
        &-input{
            display: block;
            position: relative;
            width: 315px;
            height: 40px;
            border: 1px solid transparent;
            border-radius: 40px;
            padding: 0 0 0 15px;
            box-sizing: border-box;
            &:focus-visible{
                outline-offset: unset;
                outline: none;
            }
            &--active{
                border-color: black;
            }
        }
        &-btn{
            display: block;
            width: 120px;
            height: 32px;
            font-size: 1.6em;
            color: #fff;
            background: rgb(116,17,39);
            background: linear-gradient(90deg, rgba(116,17,39,1) 0%, rgba(156,20,81,1) 100%);
            border: 1px solid transparent;
            border-radius: 40px;
            -webkit-box-shadow: 0px 5px 52px 12px rgba(34, 60, 80, 0.29) inset;
            -moz-box-shadow: 0px 5px 52px 12px rgba(34, 60, 80, 0.29) inset;
            box-shadow: 0px 5px 52px 12px rgba(34, 60, 80, 0.29) inset;
            &:hover{
                border-color: #f3eae8 ;
                -webkit-box-shadow: 0px 0px 49px 22px rgba(205, 217, 227, 0.29);
                -moz-box-shadow: 0px 0px 49px 22px rgba(205, 217, 227, 0.29);
                box-shadow: 0px 0px 49px 22px rgba(205, 217, 227, 0.29);
            }
        }
        &--show{
            transform: translate(-50%, -50%) scale(1);
            transition: 0.5s all;
        }
    }
}