*{
    margin: 0;
    padding: 0;
    color:#fff;
}

.text-color-dark{
    color: rgba(0, 43, 69, 1);
}

.container{
    width: 1640px;
    margin: 0 auto;
    position: relative;
}

.top{
    display: block;
    position: relative;
    background-image: url('../img/top.jpg');
    padding-top: 125px;
    background-repeat: no-repeat;
}

.top-article{
    display: block;
    position: relative;
    max-width: 729px;
    padding: 165px 19px 133px;
}

.top-features-text{
    display: block;
    position: relative;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    background-color: rgba(0, 43, 69, 0.9);
    padding: 18px 32px 18px 32px;
    border-radius: 15px;
}
.top-features,
.top-features-1,
.top-features-2{
    display: inline-block;
    position: relative;
    height: 86px;
    position: absolute;
}
.top-features{
    width: 239px;
    right: 61%;
    top: 6%;
}
.top-features-1{
    width: 281px;
    position: absolute;
    top: 24%;
    left: 50%;
}
.top-features-2{
    width: 231px;
    top: 53%;
    left: 46%;
}
.top-features::after,
.top-features-1::after,
.top-features-2::after{
    content: '';
    background-image: url('../img/marker.png');
    background-size: 31px;
    background-repeat: no-repeat;
    width: 31px;
    height: 31px;
    position: absolute;
    z-index: 10;
    left: 94%;
    bottom: 31%;
}
.top-title{
    font-family: Lora;
    font-size: 64px;
    font-weight: 400;
    line-height: 82px;
    letter-spacing: 0em;
}
.top-title::before{
    position: absolute;
    content: "";
    height: 1px;
    width: 16%;
    background: #fff;
    left: -17%;
    top: 33%;
}

.top-prices{
    display: flex;
    position: relative;
    align-items: center;
    gap: 31px;
    padding: 31px 0 57px;
}

.top-prices-desc{
    font-family: Open Sans;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    padding: 5px 0 0 0;
}

.top-prices-quest{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    max-width: 264px;
}
.top-prices-quest::after{
    content:'';
    background-image: url('../img/arrow.png');
    width: 34px;
    height: 64px;
    position: absolute;
    right: -6%;
    top: 9%;
}
.top-prices-desc--bold{
    font-family: Open Sans;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}


.top-calculate-price{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 16px
}

.quest-price{
    text-transform: uppercase;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
    background: none;
    padding: 18px 32px 18px 32px;
    border: 1px solid;
    gap: 10px;
}

.our-adv{
    display: block;
    position: relative;
    background-color: rgba(251, 246, 239, 1);
    height: 405px;
}
.our-adv::before{
    content: '';
    background-image: url('../img/kitchen-adv.png');
    width: 420px;
    height: 532px;
    position: absolute;
    top: -32px
}

.our-adv__text{
    font-family: Lora;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    padding: 6% 0 0 23%;

}

.our-adv__list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 45px 0 0 23.7%;
}

.our-adv__list-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex: 1;
}

.our-adv__list-item-text{
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 43, 69, 1);
    padding: 0 33px 0 0;
}

.our-adv__list-item-text--bold{
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
 
}

.our-works{
    margin: 158px 0 45px 0;
}

.our-works__title{
    font-family: Lora;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
}
.our-works__filter{
    padding: 49px 0 45px 0;
}
.our-works__list{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    list-style: none;
}

.our-works__list-item{
    display: flex;
    align-items: center;
    position: relative;
    
}

.our-works__list-item-slider{
    display: block;
    position: relative;
    z-index: 1;
}
.our-works__list-item-wrap{
    display: block;
    position: relative;
    height: 436px;
    width: 516px;
    background-color: rgba(251, 246, 239, 1);
}
.our-works__list-item-articles{
    padding: 0 0 0 194px;
    width: 457px;
    height: 436px;
    display: block;
    position: absolute;
    /* left: 54%; */
    border: 1px solid black;
    background-color: rgba(251, 246, 239, 1);
    left: -136px;
}
.our-works__list-item-articles-prices-list{
    display: flex;
    position: relative;
    list-style: none;
}

.our-works__list-item-articles-top{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding: 60px 0 0 0;
}

.our-works__list-item-articles-top--bold{
    font-family: Lora;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 -4px 0;
    display: block;
}

.our-works__list-item-articles-prices{
    padding: 45px 0 29px 0;
}

.our-works__list-item-articles-prices-list-item-name{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}


.our-works__list-item-articles-prices-list-item-price{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding: 7px 0 0 0;
}

.our-works__list-item-size{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(124, 124, 124, 1);
    padding: 0 0 46px 0;

}

.our-works__list-item-size--bold{
    font-family: Open Sans;
font-size: 16px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: rgba(124, 124, 124, 1);

}



.our-works__list-item-articles-details,
.test-button{
    text-transform: uppercase;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding: 18px 32px 18px 32px;
    border: none;
    background: rgba(0, 43, 69, 1);
}

.our-works__list-item-articles-getprice{
    text-transform: uppercase;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding: 18px 32px 18px 32px;
    border: 1px solid;
}
